<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <h1>HI</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga soluta deleniti hic suscipit repudiandae velit molestiae unde aliquam dolore et animi aspernatur, iure rem voluptatibus vel sit eveniet vitae architecto.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga soluta deleniti hic suscipit repudiandae velit molestiae unde aliquam dolore et animi aspernatur, iure rem voluptatibus vel sit eveniet vitae architecto.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga soluta deleniti hic suscipit repudiandae velit molestiae unde aliquam dolore et animi aspernatur, iure rem voluptatibus vel sit eveniet vitae architecto.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga soluta deleniti hic suscipit repudiandae velit molestiae unde aliquam dolore et animi aspernatur, iure rem voluptatibus vel sit eveniet vitae architecto.</p>
        </div>
        <div class="col-sm-6">
            <h1>hi</h1>
        </div>
    </div>
</div>